<div class="container-fluid">
  <div class="col-md-12">
      <div class="center"><h3>Struktur Organisasi Yayasan</h3></div>
      <br>
      <div id='chart'></div>
        <%= render_chart @chart, 'chart' %>
        <%#= @chart.render('chart')%>
  </div>
</div>
