
  <div class="hero">
     <h1 class="center">Yayasan Kesejahteraan Islam Nasrullah</h1>
  </div>


<%= render 'listings/struktur' %>
<br>
<br>
<br>
<br>
<br>
<%= render 'listings/visi_misi' %>
<%= render 'listings/legalitas' %>
<%#= render 'listings/program_kerja' %>
