

    <div class="container" id="dashboard">
      <div class="col-xs-2 col-sm-4 col-md-4  visible-sm visible-md visible-lg">
                  <%= image_tag("logoweb.png", class:"logo_image")  %>
      </div>
      <div class="col-xs-10 col-sm-8 col-md-8 ">
        <div class="logo_text">
          <h1 class="visible-sm visible-md visible-lg short_text">Y A K I N</h1> 
          <h3 class="long_text">YAYASAN KESEJAHTERAAN ISLAM NASRULLAH</h3>       
          <!-- <h2 class="hidden-xs" align="center">Y A K I N</h2> -->
          <div class="bottom_menu">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="#">Beranda</a></li>
              <li role="presentation"><a href="#">Donatur</a></li>
              <li role="presentation"><a href="#">Santunan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<%= render 'listings/struktur' %>
<%#= render 'listings/visi_misi' %>
<%= render 'listings/legalitas' %>
<%#= render 'listings/program_kerja' %>
