
  <!-- <div class="hero">
     <h1 class="center">Yayasan Kesejahteraan Islam Nasrullah</h1>
  </div>

 -->
     <div class="row">
       <div class="col-xs-12 visible-md">
         <p class="yayasan"><center>YAYASAN KESEJAHTERAAN ISLAM "NASRULLAH"</center></p>
          <%= image_tag("logo.png", size: "147x230", class: "logo", align: "center")  %>
          <h2 ><center>YAKIN</center></h2>
          <br>
          <h4 class="lead"><center>Selamat Datang Di Website kami</center></h4>
          <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-12">
            
            <h4 class="col-sm-offset-0 col-sm-12"><center>"bantulah sesama dengan menginfakkan sebagian harta yang anda miliki"</center></h4>
            <br>
            
            <br>
          </div>
          
       </div>
     </div>
<%= render 'listings/struktur' %>
<%#= render 'listings/visi_misi' %>
<%= render 'listings/legalitas' %>
<%#= render 'listings/program_kerja' %>
