<div class="container">
    <div class="page-header">
        <h3 id="timeline"><center>Legalitas</center></h3>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Akte Pendirian</h4>
              <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
            </div>
            <div class="timeline-body">
              <p>Akte Pendirian Yayasan Nomor: 216/KK/II/2014</p> 
              <p>Notaris Kamariah Karim, SH, M.Kn</p>
              <p>Alamat Kantor: Jalan Batua Raya Ruko Batara Mas No. A3</p>
              <p>Makassar</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Nomor Pokok Wajib Pajak (NPWP)</h4>
            </div>
            <div class="timeline-body">
              <p>NPWP: 66.212.935.2-805.000</p>
              <p>Surat Keterangan Terdaftar No: S-814R/WPJ.15/KP.0203/2014</p>
              <p>a. n Kepala Kantor </p>
              <p>Kepala Seksi Pelayanan</p>
              <p>Thomas Patasik</p>
              <p>NIP: 19620714 198311 1 001</p>
              <p>KPP: PRATAMA MAKASSAR SELATAN (805)</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Dasar Hukum</h4>
            </div>
            <div class="timeline-body">
              <p>SURAT KEPUTUSAN MENTERI HUKUM DAN HAM REPUBLIK INDONESIA</p>
              <p>NO: AHU-1831.AH.01.04. Tahun 2014</p>
              <p>a.n Menteri Hukum Dan Hak Asasi Manusia Republik Indonesia</p>
              <p>Direktur Jenderal Administrasi Hukum Umum</p>
              <p>Dr. Aidir Amin Daud</p>
              <p>NIP: 19581120 198810 1 001</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Surat Pemerintah Setempat</h4>
            </div>
            <div class="timeline-body">
              <p>Surat No: 040/KR/I/2014</p>
              <p>Diterbitkan Oleh: Pemerintah Kota Makassar, Kecamatan Rappocini, Kelurahan Karunrung</p>
              <p>Lurah: Drs. Ayyub Salahuddin</p>
              <p>NIP: 19660110 198703 1 016</p>
            </div>
          </div>
        </li>
    </ul>
</div>
<br>
