<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @attendance_sheet.course %>
</p>

<%= link_to 'Edit', edit_attendance_sheet_path(@attendance_sheet) %> |
<%= link_to 'Back', attendance_sheets_path %>
