<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-8">
        <%= render 'form' %>

        <%= link_to 'Lihat', @cashflow %> |
        <%= link_to 'Kembali', cashflows_path %>
    </div>
  </div>
</div>