<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <%= render 'form' %>

      <%= link_to 'Show', @donatur %> |
      <%= link_to 'Back', donaturs_path %>
      
    </div>
  </div>
</div>
