<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% unless @donaturs.blank? %>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td><h3>Donatur</h3></td>
            <% if signed_in? %>
            <td colspan="2"></td>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @donaturs.each do |donatur| %>
            <tr>
              <td><%= link_to donatur.name, donatur %></td>
              <% if signed_in? %>
              <td><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>'.html_safe, edit_donatur_path(donatur) %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe,  donatur, method: :delete, data: { confirm: 'Anda Yakin Hapus?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <br>
      <% if signed_in? %>
      <%= link_to 'Tambah Donatur', new_donatur_path %>
      <% end %>
    </div>
  </div>
</div>
