// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list{
  font-size: 6px;
}

.center{
  text-align: center;
}

#chart_div > .table{
  border-collapse: separate !important;
}

.google-visualization-orgchart-table {
  border: 0;
  text-align: center;
  border-collapse: separate;
}

.jabatan{
 color:red; 
 font-style:italic;
}


//CSS untuk visi misi
img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 30px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        margin-left: 30px;
        margin-bottom: 10px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -20px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #f5f5f6;
                padding: 1em;
                margin-left: 60px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }


/* warna hijau dan merah */
#green{
  color: green;
}

#red{
  color: red;
}

////Css Untuk Program kerja
//
//.timeline {
//    position: relative;
//    padding:4px 0 0 0;
//    margin-top:22px;
//    list-style: none;
//}
//
//.timeline>li:nth-child(even) {
//    position: relative;
//    margin-bottom: 50px;
//    height: 180px;
//    right:-100px;
//}
//
//.timeline>li:nth-child(odd) {
//    position: relative;
//    margin-bottom: 50px;
//    height: 180px;
//    left:-100px;
//}
//
//.timeline>li:before,
//.timeline>li:after {
//    content: " ";
//    display: table;
//}
//
//.timeline>li:after {
//    clear: both;
//    min-height: 170px;
//}
//
//.timeline > li .timeline-panel {
//  position: relative;
//  float: left;
//  width: 41%;
//  padding: 0 20px 20px 30px;
//  text-align: right;
//}
//
//.timeline>li .timeline-panel:before {
//    right: auto;
//    left: -15px;
//    border-right-width: 15px;
//    border-left-width: 0;
//}
//
//.timeline>li .timeline-panel:after {
//    right: auto;
//    left: -14px;
//    border-right-width: 14px;
//    border-left-width: 0;
//}
//
//.timeline>li .timeline-image {
//    z-index: 100;
//    position: absolute;
//    left: 50%;
//    border: 7px solid #3b5998;
//    border-radius: 100%;
//    background-color: #3b5998;
//    box-shadow: 0 0 5px #4582ec;
//    width: 200px;
//    height: 200px;
//    margin-left: -100px;
//}
//
//.timeline>li .timeline-image h4 {
//    margin-top: 12px;
//    font-size: 10px;
//    line-height: 14px;
//}
//
//.timeline>li.timeline-inverted>.timeline-panel {
//    float: right;
//    padding: 0 30px 20px 20px;
//    text-align: left;
//}
//
//.timeline>li.timeline-inverted>.timeline-panel:before {
//    right: auto;
//    left: -15px;
//    border-right-width: 15px;
//    border-left-width: 0;
//}
//
//.timeline>li.timeline-inverted>.timeline-panel:after {
//    right: auto;
//    left: -14px;
//    border-right-width: 14px;
//    border-left-width: 0;
//}
//
//.timeline>li:last-child {
//    margin-bottom: 0;
//}
//
//.timeline .timeline-heading h4 {
//  margin-top:22px;
//    margin-bottom: 4px;
//    padding:0;
//    color: #b3b3b3;
//}
//
//.timeline .timeline-heading h4.subheading {
//  margin:0;
//  padding:0;
//    text-transform: none;
//    font-size:18px;
//    color:#333333;
//}
//
//.timeline .timeline-body>p,
//.timeline .timeline-body>ul {
//    margin-bottom: 0;
//    color:#808080;
//}
///*Style for even div.line*/
//.timeline>li:nth-child(odd) .line:before {
//    content: "";
//    position: absolute;
//    top: 60px;
//    bottom: 0;
//    left: 690px;
//    width: 4px;
//    height:340px;
//    background-color: #3b5998;
//    -ms-transform: rotate(-44deg); /* IE 9 */
//    -webkit-transform: rotate(-44deg); /* Safari */
//    transform: rotate(-44deg);
//    box-shadow: 0 0 5px #4582ec;
//}
///*Style for odd div.line*/
//.timeline>li:nth-child(even) .line:before  {
//    content: "";
//    position: absolute;
//    top: 60px;
//    bottom: 0;
//    left: 450px;
//    width: 4px;
//    height:340px;
//    background-color: #3b5998;
//    -ms-transform: rotate(44deg); /* IE 9 */
//    -webkit-transform: rotate(44deg); /* Safari */
//    transform: rotate(44deg);
//    box-shadow: 0 0 5px #4582ec;
//}
///* Medium Devices, .visible-md-* */
//@media (min-width: 992px) and (max-width: 1199px) {
//  .timeline > li:nth-child(even) {
//    margin-bottom: 0px;
//    min-height: 0px;
//    right: 0px;
//  }
//  .timeline > li:nth-child(odd) {
//    margin-bottom: 0px;
//    min-height: 0px;
//    left: 0px;
//  }
//  .timeline>li:nth-child(even) .timeline-image {
//    left: 0;
//    margin-left: 0px;
//  }
//  .timeline>li:nth-child(odd) .timeline-image {
//    left: 690px;
//    margin-left: 0px;
//  }
//  .timeline > li:nth-child(even) .timeline-panel {
//    width: 76%;
//    padding: 0 0 20px 0px;
//    text-align: left;
//  }
//  .timeline > li:nth-child(odd) .timeline-panel {
//    width: 70%;
//    padding: 0 0 20px 0px;
//    text-align: right;
//  }
//  .timeline > li .line {
//    display: none;
//  }
//}
///* Small Devices, Tablets */
//@media (min-width: 768px) and (max-width: 991px) {
//  .timeline > li:nth-child(even) {
//    margin-bottom: 0px;
//    min-height: 0px;
//    right: 0px;
//  }
//  .timeline > li:nth-child(odd) {
//    margin-bottom: 0px;
//    min-height: 0px;
//    left: 0px;
//  }
//  .timeline>li:nth-child(even) .timeline-image {
//    left: 0;
//    margin-left: 0px;
//  }
//  .timeline>li:nth-child(odd) .timeline-image {
//    left: 520px;
//    margin-left: 0px;
//  }
//  .timeline > li:nth-child(even) .timeline-panel {
//    width: 70%;
//    padding: 0 0 20px 0px;
//    text-align: left;
//  }
//  .timeline > li:nth-child(odd) .timeline-panel {
//    width: 70%;
//    padding: 0 0 20px 0px;
//    text-align: right;
//  }
//  .timeline > li .line {
//    display: none;
//  }
//}
///* Custom, iPhone Retina */
//@media only screen and (max-width: 767px) {
//  .timeline > li:nth-child(even) {
//    margin-bottom: 0px;
//    min-height: 0px;
//    right: 0px;
//  }
//  .timeline > li:nth-child(odd) {
//    margin-bottom: 0px;
//    min-height: 0px;
//    left: 0px;
//  }
//  .timeline>li .timeline-image {
//    position: static;
//    width: 150px;
//    height: 150px;
//    margin-bottom:0px;
//  }
//  .timeline>li:nth-child(even) .timeline-image {
//    left: 0;
//    margin-left: 0;
//  }
//  .timeline>li:nth-child(odd) .timeline-image {
//    float:right;
//    left: 0px;
//    margin-left:0;
//  }
//  .timeline > li:nth-child(even) .timeline-panel {
//    width: 100%;
//    padding: 0 0 20px 14px;
//  }
//  .timeline > li:nth-child(odd) .timeline-panel {
//    width: 100%;
//    padding: 0 14px 20px 0px;
//  }
//  .timeline > li .line {
//    display: none;
//  }
//}