// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list{
  font-size: 6px;
}

.center{
  text-align: center;
}

#chart_div > .table{
  border-collapse: separate !important;
}

.google-visualization-orgchart-table {
  border: 0;
  text-align: center;
  border-collapse: separate;
}

.jabatan{
 color:red; 
 font-style:italic;
}