// Place all the styles related to the Recipients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.warnatabel{color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;}
  
.warnatabelbiru{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}