html {
  position: absolute;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 400px;
  border-radius:0px !important;
}

/* Footer styles
-------------------------------------------------- */
#footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 400px;
  padding: 60px 30px 100px 30px;
  background: url('http://riordanalumni.com/wp-content/uploads/2012/08/darkdenim3.png') repeat !important;
  background: #6d7cab;
  background: 100% auto;
  border-top: 2px solid #34D7D7;
  .footertext {
    color: #00A651;
  }
  
  div{
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);

    ul{
      margin-bottom: 20px;
      li{
            padding: 15px 0 0 0 ;  
            color: #777777;
            text-decoration: none;
            .glyphicon-map-marker{
              color: yellow;
              font-size: 20px;
              vertical-align: baseline;
              float:left;
              margin-right:10px;
            }
            .glyphicon-earphone{
              color: blue;
              font-size: 20px;
              margin-right:10px;
              vertical-align: baseline;
              float:left;
            }
      }
    }
  }
  
  div > .katabijak{
//    margin: 30px;
    min-height:100%;
    padding: 10px 0 0 15px;
    border-left: 1px solid #515151;
  }
  
  .bottom-footer{
    margin: 95px 0 -50px 0px;
    border-top: 1px solid #515151;
    color: #00A651;
    bottom: -55px;
    padding: 15px 0 0 0px;
    width: 100%;
  }
  
}

//www serena-ocean-2696.herokuapp.com cname
//@ www.runiah-school.com cname
//@ runiah-school.com url redirect


//url(http://digiwarestore.com/themes/default-bootstrap/css/../img/change/footer-bg.png) repeat-x,url(http://digiwarestore.com/themes/default-bootstrap/css/../img/change/darkdenim3.png) repeat !important
