<div id="footer">
    <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-md-8">“Perumpamaan orang yang menginfakkan hartanya di jalan Allah seperti sebutir biji yang menumbuhkan tujuh tangkai, pada setiap tangkai ada seratus biji. Allah melipatgandakan bagi siapa yang Dia kehendaki, dan Allah Mahaluas dan Maha Mengetahui.” (Al Baqarah 261)</div>
          <div class="col-md-4">Hubungi Kami: 085240875555</div>
        </div>   -->
        <div class="row">
          <p class="footertext">© 2915 Yayasan YAKIN</p>
        </div>  
    </div>
</div>