<div id="footer">
    <div class="container-fluid footertext">
        <div class="row">
          <div class="col-md-3">
            <h5>Hubungi Kami</h5>
            <ul class="nav">
              <li><i class="icon-map-marker"></i>Jalan Talasalang 3 No 25, Makassar, Indonesia</li>
            </ul>
          </div>
          <div class="col-md-3"><h5>Profil</h5></div>
          <div class="col-md-6"><p>“Perumpamaan orang yang menginfakkan hartanya di jalan Allah seperti sebutir biji yang menumbuhkan tujuh tangkai, pada setiap tangkai ada seratus biji. Allah melipatgandakan bagi siapa yang Dia kehendaki, dan Allah Mahaluas dan Maha Mengetahui.” (Al Baqarah 261)</p></div>
          
        </div>
        <div class="row">
            <div class=" col-sm-12 col-xs-12 col-md-12">
              <p class="bottom-footer">© 2915 Yayasan Kesejahteraan Islam Nasrullah</p>
            </div> 
        </div>  
    </div>
</div>