<div id="footer">
    <div class="container-fluid footertext">
        <div class="row">
          <div class="col-md-2">
            <h4>Profil</h4>
            <ul class="nav">
              <li>Visi Misi</li>
              <li>Kritik Dan Saran</li>
              <li>Santunan</li>
              <li>Program Kerja</li>
            </ul>
          </div>
          <div class="col-md-4 informasi">
            <h4>Informasi</h4>
            <ul class="nav">
              <li><i class="glyphicon glyphicon-map-marker"></i>Talasalapang 3 No 25, Makassar, Indonesia</li>
              <li><i class="glyphicon glyphicon-earphone"></i>085240875555</li>
            </ul>
          </div>
          <div class="col-md-6 katabijak"><p>“Perumpamaan orang yang menginfakkan hartanya di jalan Allah seperti sebutir biji yang menumbuhkan tujuh tangkai, pada setiap tangkai ada seratus biji. Allah melipatgandakan bagi siapa yang Dia kehendaki, dan Allah Mahaluas dan Maha Mengetahui.” (Q.S Al Baqarah, 2:261)</p></div>
          
        </div>
        <div class="row">
            <div class=" col-sm-12 col-xs-12 col-md-12">
              <p class="bottom-footer">© 2015 Yayasan Kesejahteraan Islam Nasrullah</p>
            </div> 
        </div>  
    </div>
</div>